# Datasource
SPRING_DATASOURCE_URL=db_url
SPRING_DATASOURCE_USERNAME=db_user
SPRING_DATASOURCE_PASSWORD=db_password

# JWT
JWT_SECRET=8945ca34cc0e376adc4885266a44ff62e432c7d0bfa4886819946087bb42bb3fy

# AWS
AWS_EVENTBRIDGE_BUS=local-bus